.container-md{
    background-color: #2B3E50;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
table{
    color: white;
}
#cardEmpleado{
margin-top: 20px;
}
/*
body{
    background: rgb(207, 205, 205);
}
#contenedor{
    width: 990px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden
}

#contenido{
    width: 700px;
    height: 500px;
    float: left;
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    border-radius: 10px;
}
aside{
    width: 250px;
    height: 500px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}
#celda{
    display: none;
}
*/